<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Bundle Name="Phony (Lite)" Version="1.0.0.0" Compressed="yes" Manufacturer="ShababConquer" UpgradeCode="D8C3D453-A303-4711-9B5C-C62C56A4C431">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
			<bal:WixStandardBootstrapperApplication LicenseFile="..\Prerequisites\ReadMe.rtf" LogoFile="..\src\Resources\PhonyLogoWix.png"/>
		</BootstrapperApplicationRef>

		<util:RegistrySearch Id="NETFRAMEWORK47FULL" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Value="Version" Result="value" Variable="DotNetInstall"/>
		<Chain>
			<ExePackage Id="NetFx472" SourceFile="..\Prerequisites\NDP472-KB4054530-x86-x64-AllOS-ENU.exe" Permanent="yes" InstallCommand="/q" RepairCommand="/q" DetectCondition="DotNetInstall" InstallCondition="NOT DotNetInstall >= 4703056"/>
			<MsiPackage Id="CRx32" SourceFile="..\Prerequisites\CRRuntime_32bit_13_0_23.msi" Permanent="no" Vital="no" ForcePerMachine="yes" InstallCondition="Not VersionNT64 AND VersionNT >= v5.1"/>
			<MsiPackage Id="EasySetup" SourceFile="..\Installer\bin\Release\PhonyLiteSetup.msi"/>
		</Chain>
	</Bundle>
</Wix>
