<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Bundle Name="PhonyBootstrapper" Version="1.2.4.0" Compressed="yes" Manufacturer="ShababConquer" UpgradeCode="b67d5c76-c9b1-4db5-a0ca-4623cd283799">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
			<bal:WixStandardBootstrapperApplication LicenseFile="..\Prerequisites\ReadMe.rtf" LogoFile="..\src\Resources\PhonyLogoWix.png"/>
		</BootstrapperApplicationRef>

		<util:RegistrySearch Id="NETFRAMEWORK47FULL" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Value="Version" Result="value" Variable="DotNetInstall"/>
		<util:RegistrySearch Id="Sql12" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\110\ConfigurationState" Value="SQL_SNAC_CORE" Result="exists" Variable="Sql12"/>
		<util:RegistrySearch Id="Sql14" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\120\ConfigurationState" Value="SQL_SNAC_CORE" Result="exists" Variable="Sql14"/>
		<util:RegistrySearch Id="Sql16" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\130\ConfigurationState" Value="SQL_SNAC_CORE" Result="exists" Variable="Sql16"/>
		<util:RegistrySearch Id="Sql17" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\ConfigurationState" Value="SQL_WRITER" Result="exists" Variable="Sql17"/>
		<util:RegistrySearch Id="Sqlexpress" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\SQLEXPRESS" Value="(Default)" Result="exists" Variable="Sqlexpress"/>
		<Chain>
			<ExePackage Id="NetFx472" SourceFile="..\Prerequisites\NDP472-KB4054530-x86-x64-AllOS-ENU.exe" Permanent="yes" InstallCommand="/q" RepairCommand="/q" DetectCondition="DotNetInstall" InstallCondition="NOT DotNetInstall >= 4703056"/>
			<ExePackage Id="SQLEXPR2012" SourceFile="..\Prerequisites\SQLEXPR2012_x32_ENU.exe" Permanent="yes" Vital="no" InstallCommand="/QS /IACCEPTSQLSERVERLICENSETERMS /ACTION=Install /FEATURES=SQLEngine /INSTANCENAME=SQLEXPRESS /UpdateEnabled=False /INDICATEPROGRESS=False /SQLSVCSTARTUPTYPE=Automatic /BROWSERSVCSTARTUPTYPE=Automatic /ENABLERANU=True /NPENABLED=1 /TCPENABLED=1 /HIDECONSOLE" DetectCondition="Sql12 AND Sql14 AND Sql16 AND Sql17 AND Sqlexpress" InstallCondition="NOT (Sql12 OR Sql14 OR Sql16 OR Sql17) AND NOT Sqlexpress"/>
			<MsiPackage Id="CRx32" SourceFile="..\Prerequisites\CRRuntime_32bit_13_0_23.msi" Permanent="no" Vital="no" ForcePerMachine="yes" InstallCondition="Not VersionNT64 AND VersionNT >= v5.1"/>
			<MsiPackage Id="EasySetup" SourceFile="..\Installer\bin\Release\PhonySetup.msi"/>
		</Chain>
	</Bundle>
</Wix>
