[*.cs]

# IDE0008: Use explicit type
csharp_style_var_elsewhere = false:silent

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = false:silent

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = false:silent

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = silent

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = true:silent
