<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle Name="Phony (Lite)" Version="1.0.1.0" Compressed="yes" Manufacturer="ShababConquer" UpgradeCode="1BD52F48-0250-4278-AE9E-03F7D46C0745">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
      <bal:WixStandardBootstrapperApplication LicenseFile="..\Prerequisites\ReadMe.rtf" LogoFile="..\src\Resources\PhonyLogoWix.png"/>
    </BootstrapperApplicationRef>

    <util:RegistrySearch Id="NETFRAMEWORK47FULL" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Value="Version" Result="value" Variable="DotNetInstall" Win64="yes"/>
    <Chain>
      <ExePackage Id="NetFx472" SourceFile="..\Prerequisites\NDP472-KB4054530-x86-x64-AllOS-ENU.exe" Permanent="yes" InstallCommand="/q" RepairCommand="/q" DetectCondition="DotNetInstall" InstallCondition="NOT DotNetInstall >= 4703056"/>
      <MsiPackage Id="CRx64" SourceFile="..\Prerequisites\CRRuntime_64bit_13_0_23.msi" Permanent="no" Vital="no" ForcePerMachine="yes" InstallCondition="VersionNT64 >= v5.1"/>
      <MsiPackage Id="LiteSetup" SourceFile="..\Installer\bin\Release\PhonyLiteSetup.msi"/>
    </Chain>
  </Bundle>
</Wix>
