<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Phony.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Phony.Properties.Settings>
      <setting name="IsDarkTheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsAlternateStyle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrimaryColor" serializeAs="String">
        <value>teal</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>yellow</value>
      </setting>
      <setting name="LiteDbConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="IsConfigured" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackUpsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SalesBillsPaperSize" serializeAs="String">
        <value>A4</value>
      </setting>
      <setting name="LiteDbConnectionPassword" serializeAs="String">
        <value />
      </setting>
    </Phony.Properties.Settings>
  </userSettings>
</configuration>