<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Phony.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <Phony.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>BaseLight</value>
      </setting>
      <setting name="PrimaryColor" serializeAs="String">
        <value>Teal</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="IsConfigured" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackUpsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SalesBillsPaperSize" serializeAs="String">
        <value>A4</value>
      </setting>
      <setting name="DBFullName" serializeAs="String">
        <value />
      </setting>
    </Phony.Properties.Settings>
  </userSettings>
  <exceptionless apiKey="0xxDevoHlLnNdS4vfB7UDN1UtOWQpn1XXWdiG6OE" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>