<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define Phony_TargetDir=$(var.Phony.TargetDir)?>
  <Product Id="*" Name="Phony (Lite)" Language="1033" Version="1.0.0.0" Manufacturer="ShababConquer" UpgradeCode="2DCCA644-076B-48D3-9F48-B524C8843029">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif?>
    <?define ProductName = "Phony (Lite)" ?>
    <?define Manufacturer = "ShababConquer" ?>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Phony (Lite)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="DesktopFolder" />
      <ComponentGroupRef Id="StartMenuFolder" />
    </Feature>
    <UIRef Id="MyCustomDlgSequence" />
    <WixVariable Id="WixUILicenseRtf" Value="..\Prerequisites\ReadMe.rtf" />
    <Icon Id="app.ico" SourceFile="..\src\Resources\PhonyIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="app.ico" />
    <Property Id="ARPHELPLINK" Value="http://shababco.blogspot.com/" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLManufacturerFOLDER" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLAppFOLDER" Name="$(var.ProductName)" />
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="StartMenuFolder" />
    </Directory>
  </Fragment>


  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLAppFOLDER">
      <Component Id="PhonyLite.exe" Guid="ec0de762-fbdd-4835-80a8-b3291452a0ea">
        <File Id="PhonyLite.exe" Name="PhonyLite.exe" Source="$(var.Phony_TargetDir)PhonyLite.exe" />
      </Component>
      <Component Id="PhonyLite.exe.config" Guid="b698c981-96c2-4907-a38b-9d667fa006d1">
        <File Id="PhonyLite.exe.config" Name="PhonyLite.exe.config" Source="$(var.Phony_TargetDir)PhonyLite.exe.config" />
      </Component>
      <Component Id="BarcodeLib.dll" Guid="ac404896-94b4-44f1-bc3b-ee62348ae4cd">
        <File Id="BarcodeLib.dll" Name="BarcodeLib.dll" Source="$(var.Phony_TargetDir)BarcodeLib.dll" />
      </Component>
      <Component Id="ControlzEx.dll" Guid="dc734390-b40e-4a1d-bced-ae42e2a731e1">
        <File Id="ControlzEx.dll" Name="ControlzEx.dll" Source="$(var.Phony_TargetDir)ControlzEx.dll" />
      </Component>
      <Component Id="CrystalDecisions.CrystalReports.Engine.dll" Guid="9dfbf88d-ee51-4bdd-818b-10ff1b4a50e4">
        <File Id="CrystalDecisions.CrystalReports.Engine.dll" Name="CrystalDecisions.CrystalReports.Engine.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.CrystalReports.Engine.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportSource.dll" Guid="ab273734-c32b-489e-8a5d-697749a3d53c">
        <File Id="CrystalDecisions.ReportSource.dll" Name="CrystalDecisions.ReportSource.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportSource.dll" />
      </Component>
      <Component Id="CrystalDecisions.Shared.dll" Guid="54573f45-9c88-4def-b7d1-eb7b6e4d90e0">
        <File Id="CrystalDecisions.Shared.dll" Name="CrystalDecisions.Shared.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.Shared.dll" />
      </Component>
      <Component Id="Dragablz.dll" Guid="5ac73144-423c-4533-93ef-128a80794373">
        <File Id="Dragablz.dll" Name="Dragablz.dll" Source="$(var.Phony_TargetDir)Dragablz.dll" />
      </Component>
      <Component Id="MahApps.Metro.dll" Guid="dea37451-2fcb-40e0-87d7-96dd5dd2301c">
        <File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="$(var.Phony_TargetDir)MahApps.Metro.dll" />
      </Component>
      <Component Id="MahApps.Metro.SimpleChildWindow.dll" Guid="5fdb4654-50c9-4bf9-b42f-89ed11dbdedd">
        <File Id="MahApps.Metro.SimpleChildWindow.dll" Name="MahApps.Metro.SimpleChildWindow.dll" Source="$(var.Phony_TargetDir)MahApps.Metro.SimpleChildWindow.dll" />
      </Component>
      <Component Id="MaterialDesignColors.dll" Guid="691c83f4-7887-4915-9830-95983ebf737c">
        <File Id="MaterialDesignColors.dll" Name="MaterialDesignColors.dll" Source="$(var.Phony_TargetDir)MaterialDesignColors.dll" />
      </Component>
      <Component Id="MaterialDesignThemes.MahApps.dll" Guid="1b9ee553-4864-4097-8b2a-b1b1000e5ed6">
        <File Id="MaterialDesignThemes.MahApps.dll" Name="MaterialDesignThemes.MahApps.dll" Source="$(var.Phony_TargetDir)MaterialDesignThemes.MahApps.dll" />
      </Component>
      <Component Id="MaterialDesignThemes.Wpf.dll" Guid="10ea9d0f-57bf-4383-8613-720a7cc11cdb">
        <File Id="MaterialDesignThemes.Wpf.dll" Name="MaterialDesignThemes.Wpf.dll" Source="$(var.Phony_TargetDir)MaterialDesignThemes.Wpf.dll" />
      </Component>
      <Component Id="SAPBusinessObjects.WPF.Viewer.dll" Guid="8d628b50-dcde-4f58-83c3-69123cc38f3c">
        <File Id="SAPBusinessObjects.WPF.Viewer.dll" Name="SAPBusinessObjects.WPF.Viewer.dll" Source="$(var.Phony_TargetDir)SAPBusinessObjects.WPF.Viewer.dll" />
      </Component>
      <Component Id="SAPBusinessObjects.WPF.ViewerShared.dll" Guid="5c52b9de-cf11-4d5a-b7b8-d790261a346b">
        <File Id="SAPBusinessObjects.WPF.ViewerShared.dll" Name="SAPBusinessObjects.WPF.ViewerShared.dll" Source="$(var.Phony_TargetDir)SAPBusinessObjects.WPF.ViewerShared.dll" />
      </Component>
      <Component Id="System.Windows.Interactivity.dll" Guid="4ed7d2cc-2365-4890-966c-3cedd0dcf269">
        <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.Phony_TargetDir)System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.DataDefModel.dll" Guid="cc90a204-a297-4ae2-9944-2edb3993acde">
        <File Id="CrystalDecisions.ReportAppServer.DataDefModel.dll" Name="CrystalDecisions.ReportAppServer.DataDefModel.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.DataDefModel.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.ClientDoc.dll" Guid="43c2f3b6-42f7-46bb-a109-180b569cf1f9">
        <File Id="CrystalDecisions.ReportAppServer.ClientDoc.dll" Name="CrystalDecisions.ReportAppServer.ClientDoc.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.ClientDoc.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.ReportDefModel.dll" Guid="418a260c-214e-482a-b038-77dfff00e7dc">
        <File Id="CrystalDecisions.ReportAppServer.ReportDefModel.dll" Name="CrystalDecisions.ReportAppServer.ReportDefModel.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.ReportDefModel.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.Controllers.dll" Guid="cceaea9a-c094-46ad-af6c-c2d5f2bbbd83">
        <File Id="CrystalDecisions.ReportAppServer.Controllers.dll" Name="CrystalDecisions.ReportAppServer.Controllers.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.Controllers.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.CommLayer.dll" Guid="3b17c09a-d6df-46db-b502-28a0624fcbe6">
        <File Id="CrystalDecisions.ReportAppServer.CommLayer.dll" Name="CrystalDecisions.ReportAppServer.CommLayer.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.CommLayer.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.DataSetConversion.dll" Guid="1592fc0c-3390-4099-8d2a-750932096482">
        <File Id="CrystalDecisions.ReportAppServer.DataSetConversion.dll" Name="CrystalDecisions.ReportAppServer.DataSetConversion.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.DataSetConversion.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.Prompting.dll" Guid="4c808236-65ae-4fce-9cf3-a64a10e6b5aa">
        <File Id="CrystalDecisions.ReportAppServer.Prompting.dll" Name="CrystalDecisions.ReportAppServer.Prompting.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.Prompting.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.XmlSerialize.dll" Guid="ce84702a-2b1b-4992-a5bb-30c80302211e">
        <File Id="CrystalDecisions.ReportAppServer.XmlSerialize.dll" Name="CrystalDecisions.ReportAppServer.XmlSerialize.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.XmlSerialize.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.CubeDefModel.dll" Guid="0dfc7a30-087c-4c88-8e2a-8b1b2800929a">
        <File Id="CrystalDecisions.ReportAppServer.CubeDefModel.dll" Name="CrystalDecisions.ReportAppServer.CubeDefModel.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.CubeDefModel.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.CommonObjectModel.dll" Guid="67a39a66-e8e3-469a-9983-aa1ccec6ec97">
        <File Id="CrystalDecisions.ReportAppServer.CommonObjectModel.dll" Name="CrystalDecisions.ReportAppServer.CommonObjectModel.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.CommonObjectModel.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.ObjectFactory.dll" Guid="f74a8132-dd58-4a1e-ba31-256623706950">
        <File Id="CrystalDecisions.ReportAppServer.ObjectFactory.dll" Name="CrystalDecisions.ReportAppServer.ObjectFactory.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.ObjectFactory.dll" />
      </Component>
      <Component Id="FlashControlV71.dll" Guid="a20db46d-a854-40de-88aa-c6a5f3343a8e">
        <File Id="FlashControlV71.dll" Name="FlashControlV71.dll" Source="$(var.Phony_TargetDir)FlashControlV71.dll" />
      </Component>
      <Component Id="LiteDB.dll" Guid="91a5a19b-8d26-45b2-a92b-3cebc4078d2c">
        <File Id="LiteDB.dll" Name="LiteDB.dll" Source="$(var.Phony_TargetDir)LiteDB.dll" />
      </Component>
      <Component Id="Microsoft.Practices.ServiceLocation.dll" Guid="dece6b76-b277-4c53-b563-cd7e4946d1d8">
        <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.Phony_TargetDir)Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="Prism.Wpf.dll" Guid="fc1e7a43-4c82-4a69-8671-f0d699af7c36">
        <File Id="Prism.Wpf.dll" Name="Prism.Wpf.dll" Source="$(var.Phony_TargetDir)Prism.Wpf.dll" />
      </Component>
      <Component Id="Prism.dll" Guid="8a54fe70-a7de-47c5-bba7-fa804ae277dc">
        <File Id="Prism.dll" Name="Prism.dll" Source="$(var.Phony_TargetDir)Prism.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="35250e48-a004-48d8-ba05-6bf0b570994e">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.Phony_TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="stdole.dll" Guid="366f2b34-484d-42d5-843c-33a88134ba51">
        <File Id="stdole.dll" Name="stdole.dll" Source="$(var.Phony_TargetDir)stdole.dll" />
      </Component>
      <Component Id="CrystalDecisions.ReportAppServer.CommonControls.dll" Guid="12a3c51b-6c47-4428-aa8d-7573fd404dee">
        <File Id="CrystalDecisions.ReportAppServer.CommonControls.dll" Name="CrystalDecisions.ReportAppServer.CommonControls.dll" Source="$(var.Phony_TargetDir)CrystalDecisions.ReportAppServer.CommonControls.dll" />
      </Component>
      <Component Id="ShockwaveFlashObjects.dll" Guid="8184b708-a379-4c0f-921f-b58401323275">
        <File Id="ShockwaveFlashObjects.dll" Name="ShockwaveFlashObjects.dll" Source="$(var.Phony_TargetDir)ShockwaveFlashObjects.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="DesktopFolder" Directory="DesktopFolder">
      <Component Id="DesktopShortCutCom" Guid="ED4B06FB-2D19-49c7-8362-034C263308D9" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <Shortcut Id="DesktopShortCut" Directory="DesktopFolder" Name="Phony (Lite).exe" Show="normal" Target="[INSTALLAppFOLDER]PhonyLite.exe" Icon="AppDesktopIcon" WorkingDirectory="DesktopFolder">
          <Icon Id="AppDesktopIcon" SourceFile="..\src\Resources\PhonyIcon.ico" />
        </Shortcut>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="DesktopShortCutCom" Type="string" Value="User's Desktop directory" KeyPath="yes" />
        <RemoveFile Id="RemoveDesktopShortCut" On="uninstall" Name="Phony.exe" Directory="DesktopFolder" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="StartMenuFolder" Directory="StartMenuFolder">
      <Component Id="StartShortCut" Guid="CDA4377F-D267-4071-888A-67C19C90E15A" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <Shortcut Id="_21511C47_F730_4900_A7ED_AB82CF9DFFA2" Directory="StartMenuFolder" Name="Phony (Lite).exe" Show="normal" Target="[INSTALLAppFOLDER]PhonyLite.exe" Icon="AppStartIcon" WorkingDirectory="StartMenuFolder">
          <Icon Id="AppStartIcon" SourceFile="..\src\Resources\PhonyIcon.ico" />
        </Shortcut>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="StartShortCut" Type="string" Value="User's Desktop directory" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <UI Id="MyCustomDlgSequence">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="10" />
      <TextStyle Id="WixUI_Font_Big" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="14" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="12" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>
